#weather-info{
    width:80%;
    height:90vh;
    margin:40px auto;
    border:1px solid black;
}
#current-weather{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:40px auto;
    width:75%;
    font-size:10px;
}
#current-weather-logo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-size: 30px;
}

#current-weather-datetime{
    font-size:20px;
}
